.about {
	padding: 80px 0 40px;
	text-align: center;
	&__title {
		margin-bottom: 15px;
	}
	&__descr {
		margin: 0 auto;
		width: 100%;
		font-size: 28px;
	}
}
@include laptop {
	.about {
		padding: 60px 0 30px;
		&__descr {
			font-size: 24px;
		}
	}
}

@include tablet {
	.about {
		padding: 30px 0 20px;
		&__title {
			margin-bottom: 5px;
		}
		&__descr {
			font-size: 20px;
		}
	}
}

@include mobile {
	.about {
		padding: 30px 0 15px;
		&__descr {
			font-size: 18px;
		}
	}
}
