.about {
	padding: 100px 0 80px;
	&__descr {
		max-width: 650px;
		font-size: 28px;
	}
}
@include laptop {
	.about {
		padding: 80px 0;
		&__descr {
			max-width: 750px;
			font-size: 24px;
		}
	}
}

@include tablet {
	.about {
		padding: 50px 0;
		&__descr {
			max-width: 550px;
			font-size: 20px;
		}
	}
}

@include mobile {
	.about {
		padding: 30px 0;
		&__descr {
			text-align: center;
			font-size: 18px;
		}
	}
}
