.footer {
	padding: 40px 0;
	background-color: var(--second-bg);
	color: var(--second-color);
	&__container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-areas: 'logo contacts social';
	}
	&__contacts {
		grid-area: contacts;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 10px;
	}
	&__item {
		font-size: 28px;
		transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
		&::after {
			display: block;
			content: '';
			width: 0;
			height: 1px;
			background-color: transparent;
			transition: width 0.5s ease-in-out, background-color 0.5s ease-in-out;
		}
		&-mail {
			@include hover {
				color: #0088cc;
				&::after {
					width: 100%;
					background-color: #0088cc;
				}
			}
			&:active {
				transform: scale(0.9);
			}
		}
		&-phone {
			@include hover {
				color: #25d366;
				&::after {
					width: 100%;
					background-color: #25d366;
				}
			}
			&:active {
				transform: scale(0.9);
			}
		}
	}
	&__social {
		grid-area: social;
		justify-self: center;
		align-self: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
		&-more {
			font-size: 20px;
		}
		&-list {
			max-width: 320px;
			display: flex;
			flex-wrap: wrap;
			gap: 40px;
		}
		&-item {
			width: 50px;
			height: 50px;
		}
	}
	&__logo-content {
		grid-area: logo;
		justify-self: center;
	}
	&__logo {
		margin: 0 auto;
		width: 150px;
		height: 100px;
		&-item {
			font-size: 20px;
		}
	}
}

@include laptop-L {
	.footer {
		&__item {
			font-size: 24px;
		}
		&__logo {
			&-content {
				justify-self: start;
			}
			&-item {
				font-size: 20px;
			}
		}
		&__social {
			justify-self: end;
			&-more {
				font-size: 20px;
			}
			&-list {
				max-width: 230px;
			}
		}
	}
}

@include laptop {
	.footer {
		padding: 30px 0;
		&__container {
			grid-template-columns: repeat(2, 1fr);
			grid-template-areas: 'logo contacts' 'logo social';
		}
		&__item {
			font-size: 24px;
		}
		&__logo-content {
			justify-self: center;
		}
		&__contacts {
			margin-bottom: 20px;
		}
		&__social {
			justify-self: center;
			gap: 10px;
			&-list {
				max-width: 300px;
				padding-top: 0;
				border: none;
				gap: 20px;
			}
		}
	}

	.social__item_footer {
		width: 40px;
		height: 40px;
	}
}

@include tablet {
	.footer {
		padding: 20px 0;
		&__item {
			font-size: 18px;
		}
		&__social {
			&-list {
				max-width: 200px;
				gap: 40px;
			}
		}
		&__logo {
			width: 250px;
			height: 150px;
			&-content {
				align-self: center;
			}
			&-list {
				display: none;
			}
		}
	}
}

@include mobile {
	.footer {
		&__container {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-areas:
				'contacts'
				'social'
				'logo';
			gap: 20px;
		}
		&__item {
			font-size: 20px;
		}
		&__contacts {
			margin-bottom: 0;
			gap: 5px;
		}
		&__social {
			gap: 5px;
			&-list {
				max-width: 310px;
				gap: 15px;
			}
			&-item {
				width: 50px;
				height: 50px;
			}
		}
		&__logo {
			width: 150px;
			height: 100px;
		}
	}
}
