.header {
	padding: 20px 0;
	&__container {
		display: flex;
		align-items: center;
	}
	&__logo {
		width: 160px;
		height: 100px;
		margin-right: auto;
		flex-shrink: 0;
	}
	&__menu.is-opened {
		display: flex;
		animation-name: menu-open;
		animation-duration: 0.7s;
	}
	&__menu.is-closed {
		animation-name: menu-close;
		animation-duration: 0.7s;
	}
}

@include laptop-L {
	.header {
		&__menu {
			gap: 40px;
		}
	}
}

@include laptop {
	.header {
		&__menu {
			position: fixed;
			display: none;
			width: 100%;
			top: 0;
			right: 0;
			z-index: 5;
		}
	}
}

@include tablet {
	.header {
		padding: 15px 0;
		&__logo {
			width: 120px;
			height: 60px;
		}
	}
}

@include mobile {
	.header {
		padding: 10px 0;
	}
}

@keyframes menu-open {
	from {
		transform: translate(100%, -100%);
	}
	to {
		transform: translate(0, 0);
	}
}
@keyframes menu-close {
	from {
		transform: translate(0, 0);
	}
	to {
		transform: translate(100%, -100%);
	}
}
