.hero {
	&__container {
		position: relative;
		width: 100%;
		height: 100%;
		min-height: 100vh;
		margin: 0;
		display: flex;
		flex-direction: column;
	}
	&__content {
		position: relative;
		z-index: 2;
		padding: 50px;
		display: flex;
		flex: 1 1 auto;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: #fff;
	}
	&__title {
		max-width: 1200px;
		font-size: 120px;
		margin-bottom: 20px;
		text-align: center;
		font-family: 'Montserrat-Semibold', Arial, Helvetica, sans-serif;
		font-weight: 600;
	}
	&__descr {
		max-width: 1200px;
		font-size: 50px;
		margin-bottom: 50px;
		text-align: center;
		font-family: 'Montserrat-Medium', Arial, Helvetica, sans-serif;
		font-weight: 500;
	}
	&__link {
		padding: 20px;
		border: 2px solid var(--second-color);
		border-radius: 30px;
		background-color: transparent;
		font-size: 28px;
		transition-property: border-color, background-color, color;
		transition-duration: 0.3s;
		transition-timing-function: ease;
		@include hover {
			border-color: transparent;
			background-color: var(--main-bg);
			color: var(--main-color);
		}
		&:active {
			border-color: transparent;
			background-color: #a45214;
			color: var(--second-color);
		}
	}
	&__video {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
		object-fit: cover;
		background: image-set(
				url('../img/videoBG.webp') type('image/webp'),
				url('../img/videoBG.png') type('image/png')
			)
			center/cover no-repeat;
	}
}

@include laptop-L {
	.hero {
		&__descr {
			font-size: 40px;
		}
	}
}

@include laptop {
	.hero {
		&__container {
			min-height: 80vh;
		}
		&__content {
			padding: 30px;
		}
		&__title {
			font-size: 80px;
		}
		&__descr {
			font-size: 30px;
		}
	}
}

@include tablet {
	.hero {
		&__container {
			min-height: 70vh;
		}
		&__content {
			padding: 20px;
		}
		&__title {
			font-size: 50px;
			margin-bottom: 10px;
		}
		&__descr {
			font-size: 20px;
			margin-bottom: 30px;
		}
		&__link {
			padding: 15px 20px;
			border: 1px solid var(--second-color);
			font-size: 20px;
		}
	}
}

@include mobile {
	.hero {
		&__container {
			min-height: 60vh;
		}
		&__content {
			padding: 10px;
		}
		&__title {
			font-size: 35px;
		}
		&__descr {
			font-size: 16px;
		}
		&__link {
			padding: 20px;
			border-radius: 30px;
			background-color: transparent;
			font-size: 16px;
		}
	}
}
