.installment {
	padding: 50px 0;
	&__descr {
		text-align: center;
		font-size: 28px;
	}
	&__wrap-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	&__content {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 20px;
	}
	&__svg {
		flex: 1 0 150px;
		width: 150px;
	}
	&__content-descr {
		text-align: start;
		max-width: 500px;
	}
}

@include laptop {
	.installment {
		padding: 30px 0;
		&__descr {
			font-size: 24px;
		}
		&__content {
			&-svg {
				flex: 1 0 120px;
				width: 120px;
			}
		}
	}
}

@include tablet {
	.installment {
		&__descr {
			font-size: 20px;
		}
		&__content {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			gap: 20px;
			&-svg {
				flex: 1 0 100px;
				width: 100px;
			}
		}
	}
}

@include mobile {
	.installment {
		padding: 15px 0;
		&__descr {
			margin-bottom: 10px;
		}
		&__content {
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 0;
		}
		&__content-descr {
			text-align: center;
		}
	}
}
