.menu {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 60px;
	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 40px;
		&_anchors {
			max-width: 610px;
		}
	}
	&__link {
		font-size: 28px;
	}
	&__link_text {
		@include hover {
			color: var(--main-color);
			&::after {
				width: 100%;
			}
		}
		@include focus {
			color: var(--main-color);
			&::after {
				width: 100%;
			}
		}
		&:active {
			color: #9b9b9b;
		}
	}
	&__link_text::after {
		display: block;
		content: '';
		width: 0;
		height: 1px;
		background-color: var(--main-color);
		transition: width 0.3s ease;
	}
}

@include laptop-L {
	.menu {
		gap: 30px;
		&__list {
			gap: 30px;
		}
		&__link {
			font-size: 25px;
		}
		&__link_text {
			@include hover {
				color: var(--second-color);
			}
		}
		&__link_text::after {
			background-color: var(--second-color);
		}
	}
}

@include laptop {
	.menu {
		display: flex;
		width: 100%;
		height: 100vh;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		flex-wrap: nowrap;
		gap: 25px;
		padding: 100px 90px 120px;
		background-color: rgba(0, 0, 0, 0.9);
		color: var(--second-color);
		overflow-y: auto;
		&__list {
			flex-direction: column;
			align-items: center;
			flex-shrink: 0;
			gap: 30px;
		}
		&__link {
			font-size: 40px;
		}
	}
}

@include tablet {
	.menu {
		padding: 60px 50px 80px;
		&__link {
			font-size: 30px;
		}
	}
}

@include mobile {
	.menu {
		padding: 80px 30px;
		&__list {
			gap: 15px;
		}
		&__link {
			font-size: 24px;
		}
	}
}
