.products {
	padding: 20px 0 50px;
	.product {
		&:not(:last-child) {
			margin-bottom: 30px;
		}
		&__title {
			text-align: center;
			font-size: 35px;
			margin-bottom: 15px;
		}
		&__wrap-swiper-content {
			position: relative;
			width: 100%;
			max-width: 100vw;
		}
		&__swiper {
			padding: 50px 0 100px;
			margin-bottom: 30px;
			overflow: hidden;
		}
		&__swiper-wrapper {
			box-sizing: border-box;
			width: 100%;
			max-width: 1290px;
			margin: 0 auto;
		}
		&__swiper-slide {
			display: flex;
			align-items: center;
			justify-content: center;
			overflow: hidden;
			width: 100%;
			height: 400px;
			min-height: 300px;
			border: 2px solid var(--main-color);
			background-color: #fff;
			transition: 0.5s;
			opacity: 0.5;
		}
		&__swiper-slide.swiper-slide-active {
			transform: scale(1.5, 1.2);
			transition: 0.5s;
			opacity: 1;
			box-shadow: 5px 5px 10px var(--main-color);
			z-index: 3;
		}
		&__slide-img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
		&__swiper-button {
			position: absolute;
			top: 50%;
			display: block;
			width: 50px;
			height: 50px;
			border-radius: 6px;
			outline: none;
			transition: background-color 0.2s ease-in-out;
			&.swiper-button-prev::after,
			&.swiper-button-next::after {
				display: none;
			}
			&.button-prev {
				left: -10px;
				transform: translateY(-50%);
			}
			&.button-next {
				transform: translateY(-50%) rotate(180deg);
				right: -10px;
			}
			@include hover {
				background-color: rgba(0, 0, 0, 0.2);
			}
			&:active {
				background-color: rgba(0, 0, 0, 0.3);
			}
		}
		&__content {
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			gap: 20px;
		}
		&__descr {
			flex: 0 1 65%;
		}
		&__buttons {
			max-width: 356px;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			gap: 20px;
		}
		&__link {
			padding: 15px 20px;
			border: 2px solid var(--main-color);
			background-color: var(--main-bg);
			border-radius: 30px;
			transition-property: background-color, border-color, color;
			transition-duration: 0.2s;
			transition-timing-function: ease-in-out;
			@include hover {
				border-color: var(--main-bg);
				background-color: var(--second-bg);
				color: var(--second-color);
			}
			&:active {
				border-color: var(--main-bg);
				background-color: var(--second-bg);
				color: var(--second-color);
			}
		}
		&__pagination {
			bottom: 10px;
			left: 0;
			width: 100%;
		}
	}
}

.swiper-pagination-bullet {
	width: 15px;
	height: 15px;
	margin: 0 3px;
	background-color: #fff;
	border: 1px solid var(--main-color);
	border-radius: 0;
	outline: none;
	transition: box-shadow 0.2s ease-in-out;
	@include hover {
		box-shadow: 1px 1px 3px var(--main-color);
	}
	&-active {
		box-shadow: 1px 1px 3px var(--main-color);
		background-color: var(--main-color);
	}
}

@include laptop-L {
	.product {
		&__buttons {
			gap: 10px;
		}
		&__link {
			padding: 15px;
		}
	}
}

@include laptop {
	.products {
		padding: 20px 0 50px;
		.product {
			&__title {
				font-size: 30px;
			}
			&__swiper {
				padding: 15px 0 70px;
				margin-bottom: 15px;
			}
			&__swiper-slide.swiper-slide-active {
				transform: scale(1, 1);
			}
			&__swiper-button {
				display: none;
			}
			&__buttons {
				flex-direction: column;
				align-items: center;
				justify-content: center;
				gap: 20px;
			}
			&__link {
				text-align: center;
				width: 175px;
				padding: 15px 20px;
			}
		}
	}

	.swiper-pagination-bullet {
		width: 25px;
		height: 25px;
	}
}

@include tablet {
	.products {
		padding: 30px 0 40px;
		.product {
			&__title {
				font-size: 24px;
				margin-bottom: 10px;
			}
			&__swiper {
				padding: 10px 0 50px;
				margin-bottom: 10px;
			}
			&__content {
				flex-direction: column;
				gap: 20px;
			}
			&__buttons {
				max-width: 380px;
				flex-direction: row;
				gap: 20px;
			}
			&__link {
				text-align: center;
				font-size: 16px;
				width: 175px;
				padding: 15px 20px;
			}
		}
	}
}

@include mobile {
	.products {
		padding: 20px 0 15px;
		.product {
			&__buttons {
				gap: 10px;
			}
			&__link {
				text-align: center;
				width: 140px;
				padding: 15px 10px;
				border-width: 1px;
			}
		}
	}
}
