.social {
	max-width: 140px;
	&__menu-item {
		width: 50px;
		height: 50px;
	}
	&__link {
		display: block;
		width: inherit;
		height: inherit;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		border-radius: 13px;
		filter: grayscale(1);
		transition: filter 0.5s ease;
		@include hover {
			filter: grayscale(0);
		}
		@include focus {
			filter: grayscale(0);
			box-shadow: 5px 5px 10px var(--main-color);
		}
		&:active {
			filter: grayscale(0);
		}
	}
}

@include laptop-L {
	.social {
		&__item {
			width: 45px;
			height: 45px;
		}
	}
}

@include laptop {
	.social {
		max-width: 250px;
		padding-top: 25px;
		border-top: 3px solid var(--second-color);
		flex-direction: row;
		gap: 80px;
		&__menu-item {
			width: 80px;
			height: 80px;
			border-radius: 13px;
			box-shadow: 5px 5px 10px var(--second-color);
		}
	}
}

@include tablet {
	.social {
		max-width: 200px;
		gap: 50px;
		&__menu-item {
			width: 70px;
			height: 70px;
		}
	}
}

@include tablet {
	.social {
		max-width: 140px;
		gap: 30px;
		&__menu-item {
			width: 50px;
			height: 50px;
		}
	}
}
