html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

:root {
	--main-color: #000;
	--second-color: #fff;
	--main-bg: #fff;
	--second-bg: #000;
	--half-transparent-bc: rgba(0, 0, 0, 0.6);
	--btn-video-review: #4c818d;
	--btn-consultation: #edc420;
}

h1,
h2,
h3 {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat-Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
}

p {
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
	outline: none;
	cursor: pointer;
}

svg,
img {
	max-width: 100%;
}

svg {
	height: 100%;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

button {
	margin: 0;
	padding: 0;
	outline: none;
	border: 1px solid transparent;
	background-color: transparent;
	font-weight: 400;
	cursor: pointer;
}

input {
	background-color: transparent;
	outline: none;
	border: 1px solid transparent;
}

body {
	min-width: 320px;
	font-family: 'Montserrat-Regular', Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	font-size: 18px;
	line-height: 1.2;
}

.body-hidden {
	overflow: hidden;
}

.container {
	--container-width: 1290px;
	--container-padding: 30px;
	max-width: calc(var(--container-width) + (var(--container-padding) * 2));
	padding: 0 var(--container-padding);
	margin: 0 auto;
}

.section-title {
	font-size: 70px;
	margin-bottom: 30px;
}

.video-desktop {
	display: block;
}
.video-mobile {
	display: none;
}

.tiktok-desktop {
	display: block;
}
.tiktok-mobile {
	display: none;
}

@include laptop-L {
	.container {
		--container-width: 1100px;
		--container-padding: 50px;
	}
	.section-title {
		font-size: 65px;
	}
}

@include laptop {
	.container {
		--container-width: 920px;
		--container-padding: 40px;
	}
	.tiktok-desktop {
		display: none;
	}
	.tiktok-mobile {
		display: block;
	}
	.section-title {
		font-size: 50px;
		margin-bottom: 20px;
	}
}

@include tablet {
	.container {
		--container-padding: 20px;
	}
	.section-title {
		font-size: 40px;
	}
}

@include mobile {
	.container {
		--container-width: 560px;
		--container-padding: 10px;
	}
	.video-desktop {
		display: none;
	}
	.video-mobile {
		display: block;
	}
	.section-title {
		font-size: 28px;
		margin-bottom: 10px;
	}
}
