html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}


:root {
	--main-color: #000;
	--second-color: #fff;
	--main-bc: #fff;
	--second-bc: #000;
	--half-transparent-bc: rgba(0, 0, 0, 0.6);
}

h1,
h2,
h3 {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	font-weight: 700;
}

p {
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
	outline: none;
}

svg,
img {
	max-width: 100%;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

button {
	margin: 0;
	padding: 0;
	outline: none;
	border: 1px solid transparent;
	background-color: transparent;
	cursor: pointer;
}

input {
	background-color: transparent;
	outline: none;
	border: 1px solid transparent;
}

body {
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.2;
}

.container {
	--container-width: 1180px;
	--container-padding: 30px;
	max-width: calc(var(--container-width) + (var(--container-padding) * 2));
	padding: 0 var(--container-padding);
	margin: 0 auto;
}
