.header {
	padding: 20px 0;
}

.header__container {
	display: flex;
}

.header__logo {
	width: 160px;
	height: 100px;
	margin-right: auto;
	flex-shrink: 0;
}

.header__navigation {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 60px;
}

.header__list {
	display: flex;
	gap: 40px;
}

.header__link {
  font-size: 28px;
}

.social__item {
	width: 50px;
	height: 50px;
}

.social__link {
	display: block;
	width: inherit;
	height: inherit;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	filter: grayscale(1);
	transition: filter 0.5s ease;
}

.social__link_instagram {
	background-image: url('../img/instagram.svg');
}

.social__link_tiktok {
	background-image: url('../img/tiktok.svg');
}

.social__link:hover {
	filter: grayscale(0);
}
